html {
    scroll-behavior: smooth;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Montserrat', sans-serif !important;
}

body {
    background-color: rgb(242, 242, 242);
}

.cred-icon {
    margin-top: 30px;
    width: 30%;
}

.cred-text {
    margin-top: 20px;
}

.cred-box {
    margin-top: 20px;
    cursor: pointer;
}

.headerPart {
    background-image: linear-gradient( rgb(0 1 1 / 84%), rgb(0 0 0 / 0%) ), url(images/background.jpg);
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.headerTitle {
    margin-top: 150px;
    text-shadow: 2px 2px black;
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.05); 
}

.error {
    color: red;
    line-height: 1;
    margin-top: 10px;
    display: none;
}

.displayError {
    display: block;
}

.clearButton {
    display: inline;
}

.removeButton {
    display: inline;
}

.hideRemoveButton {
    display: none;
}

.footerPart {
    background-image: linear-gradient( rgb(0 1 1 / 26%), rgb(0 0 0) ), url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100px;
}

.tooltip {
    position: relative;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}




/* MEDIA QUERIES */

@media screen and (min-width: 360px) {
    #credBox {
        padding-left: 50px;
        padding-right: 50px;
    }
    .headerTitle {
        font-size: 40px !important;
    }
    .headerPart {
        background-position: 57% center;
    }
}

@media screen and (min-width: 500px) {
    #credBox {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (min-width: 768px) {
    #credBox {
        padding-left: 25px;
        padding-right: 25px;
    }
}


@media screen and (min-width: 1024px) {
    .headerPart {
        width: 100%;
        min-height: 800px;
    }

    .headerTitle {
        margin-top: 250px;
    }

    #credBox {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (min-width: 1440px) {
    #credBox {
        padding-left: 220px;
        padding-right: 220px;
    }
}

@media screen and (min-width: 1920px) {
    .headerPart {
        min-height: 940px;
    }

    .headerTitle {
        margin-top: 300px;
        font-size: 64px !important;
    }

    #credBox {
        padding-left: 270px;
        padding-right: 270px;
    }
}


@media screen and (min-width: 2560px) {
    .headerPart {
        min-height: 1100px;
    }

    .headerTitle {
        font-size: 75px !important;
    }
    
    #credBox {
        padding-left: 300px;
        padding-right: 300px;
    }
}


 /* for landscape orientation */
@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    #credBox {
        padding-left: 30px;
        padding-right: 30px;
    }
    .cred-text {
        font-size: 20px;
    }
}